.react-map-gl {
    width: 100%;
    height: 100%;
  }
  .react-map-gl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;   /* Change this to vw (viewport width) */
    height: 100vh;  /* Change this to vh (viewport height) */
    z-index: 0;
  }
  